<!--ユーザーの詳細画面-->
<div>
  <h2>User Info</h2>
  <%= image_tag user.get_profile_image(100,100) %>

  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <th>introdaction</th>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>